<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqio3o18Ikw9vLdomfe5ECG8ZUm9r1zQc</string>
	<key>GCM_SENDER_ID</key>
	<string>525914027982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.siriparakum.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>siriparakum-sc</string>
	<key>STORAGE_BUCKET</key>
	<string>siriparakum-sc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525914027982:ios:d453b79d41f89103619d9f</string>
</dict>
</plist>